/*
    header css
*/

.header {
    box-sizing: border-box;
    height: 170px;
    max-height: 170px;
    padding: 50px 0px;
}

.header .logo {

}

.header nav.main-menu {

}

.header nav.main-menu ul {
    list-style: none;
    float: right;
    margin-top: 25px;
}

.header nav.main-menu ul li {
    display: inline-block;
    float: left;
    font-size: 20px;
    margin-left: 55px;
}

.header nav.main-menu ul li a {
    color: #8d8d8d;
}

.header nav.main-menu ul li i {
    color: #8d8d8d;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 25px;
}


/*
    banner css
*/

.banner {
    margin-top: -170px;
    height: 935px;
    width: 100%;
    background: url("../images/banner.jpg") top center no-repeat;
    display: table;
}

.banner h1 {
    font-family: "Roboto Black";
    font-size: 85px;
    color: black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.banner h1 span {
    color: #f66c27;
}

/*
    Div General Info css
 */

.general-info {
    box-sizing: border-box;
    width: 100%;
    height: 765px;
    background: url("../images/info_bg.jpg") top center no-repeat;
}

.general-info .row {
    width: 1400px;
    margin: 0 auto;
}

.general-info .info-img {
    float: left;
}

.general-info .info-img .img1 {
    position: relative;
    margin-top: 150px;
    margin-right: 10px;
    width: 638px;
    box-shadow: 30px 30px 42px 0px rgba(0,0,0,0.30);
}

.general-info .info-img .img2 {
    position: absolute;
    bottom: -63px;
    right: -30px;
    box-shadow: 30px 30px 42px 0px rgba(0,0,0,0.10);
}

.general-info .info {
    float: left;
    padding-left: 40px;
    box-sizing: border-box;
}

.general-info .info h2 {
    margin-top: 200px;
    font-family: Roboto;
    font-size: 45px;
    max-width: 300px;
}

.general-info .info nav {
    width: 100%;
    height: 45px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.general-info .info ul {
    list-style: none;
    height: 100%;
    padding: 0;
}

.general-info .info ul li {
    display: inline-block;
    float: left;
    margin-right: 65px;
}

.general-info .info ul a {
    color: #f48146;
    font-size: 25px;
    font-family: Poppins;
}

.general-info .info p {
    font-size: 15px;
    font-family: Poppins;
}

.general-info .info button {
    margin-top: 50px;
    background: #f48146;
    padding: 12px 35px;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: Poppins;
    font-size: 18px;
}

.general-info .info button:hover {
    box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.30);
}

.general-info .info button:focus {
    outline: none;
}

/*
    Helper css
 */

.helper {
    box-sizing: border-box;
    height: 600px;
}

.helper .col-md-4 {
    padding-left: 27px;
    padding-right: 27px;
}

.helper .design-content {
    margin-top: 70px;
    padding: 85px 30px 50px 30px;
    background: #eeeded;
}

.helper .design-content:hover {
    background: white;
    box-shadow: 15px 15px 42px 11px rgba(0,0,0,0.10);
}
.helper .design-content:hover i {
    color: #ff8344;
}
.helper .row {
    width: 1300px;
    margin: 0 auto;
}

.helper .row h1 {
    font-size: 45px;
    font-family: Roboto;
    padding-left: 27px;
}

.helper .row .icon {
    padding: 0 135px;
}
.helper .row i {
    font-size: 50px;
}

.helper .row h4 {
    font-size: 25px;
    font-family: Roboto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.helper .row p {
    text-align: center;
    font-size: 15px;
    font-family: Poppins;
}


/*
    Map css
 */

.map .row {
    width: 880px;
    margin: 0 auto;
}

.map .row h1 {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 60px;
    text-align: center;
    font-family: Roboto;
    font-size: 45px;
}

.map .img-row {
    width: 1519.2px;
    margin: 0 auto;
}

.map .img-row img{
    width: 1519.2px;
}

/*
    Sent email css
 */

.sent-email {
    background: url("../images/Subscribe.jpg") top center no-repeat;
    height: 360px;
}

.sent-email .row {
    width: 1300px;
    margin: 0 auto;
}

.sent-email .row h3 {
    margin-top: 90px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
    color: white;
}

.sent-email .row .form {
    margin: 60px 315px;
    width: 100%;
}

.sent-email .row .form .form-input {
    display: inline-block;
    width: 490px;
}

.sent-email .row .form .form-input input{
    width: 100%;
    border: none;
    border-radius: 32px;
    padding-top: 17px;
    padding-left: 25px;
    padding-bottom: 17px;
    font-size: 18px;
    font-family: Poppins;
}

.sent-email .row .form .form-input input:focus {
    outline: none;
}

.sent-email .row .form button {
    display: inline-block;
    margin-left: 10px;
    border: none;
    border-radius: 32px;
    padding: 17px 45px;
    font-size: 18px;
    font-family: Poppins;
    background: #f48146;
    color: white;
    box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.30);
}

.sent-email .row .form button:hover {
    box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.60);
}

.sent-email .row .form button:focus {
    outline: none;
}

/*
    Feedback css
 */

.feedback {
    background: url("../images/feedback_bg.jpg") top center no-repeat;
}

.feedback .row {
    width: 830px;
    margin: 0 auto;
}

.feedback .row h2 {
    width: 100%;
    margin-top: 95px;
    text-align: center;
    font-family: Roboto;
    font-size: 45px;
}

.feedback img {
    margin-top: 40px;
    margin-left: 370px ;
    margin-bottom: 20px;
}

.feedback .row p {
    text-align: center;
    font-size: 15px;
    font-family: Poppins;
}

.feedback .author span {
    display: block;
    width: 100%;
    color: #faa47d;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
}

.feedback .author p {
    display: block;
    width: 100%;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
}


.feedback .row .icon {
    margin: 0 auto;
    color: #dbdada;
}

.feedback .row .icon i {
    margin: 10px;
}

.feedback .row .icon i.middle {
    color: #fc7029;
}

/*
    Projects css
 */

.projects {
    box-sizing: border-box;
}

.projects .row{
    width: 1300px;
    height: 680px;
    margin: 155px auto 140px;
    position: relative;
}

.projects .row h1 {
    font-size: 45px;
    font-family: Roboto;
    margin-bottom: 40px;
}


.projects .row p {
    max-width: 330px;
    font-size: 15px;
    font-family: Poppins;
    line-height: 25px;
}

.projects .row p span {
    color: #f48146;
}

.projects .row button {
    display: inline-block;
    margin-top: 24px;
    border: none;
    border-radius: 32px;
    padding: 16px 40px;
    font-size: 18px;
    font-family: Poppins;
    background: #f48146;
    color: white;
    box-shadow: 2px 2px 28px 0px rgba(0,0,0,0.20);
}
.projects .row button:hover {
    box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.50);
}

.projects .row button:focus {
    outline: none;
}

.projects .row img {
    border: 10px solid white;
    box-shadow: 2px 2px 28px 0px rgba(0,0,0,0.07);
}

.projects .row .col-md-4 > img {
    position: absolute;
    bottom: 0;
    left: 0 ;
}

.projects .row .col-md-4 .projects-img {
    display: block;
    margin-bottom: 30px;
}

/*
    footer css
 */

.footer {
    box-sizing: border-box;
}

.footer .row {
    width: 1519.2px;
    margin: 0 auto;
    background: linear-gradient(to right, #f66c27 50%, #FFFFFF 50%);
}

.footer .contact-form {
    box-sizing: border-box;
    height: 700px;
    padding: 0px;
    position: relative;
}

.footer .content-form {
    position: absolute;
    top: 140px;
    right: 100px;
    background: white;
    padding: 60px;


    width: 480px;
}

.content-form input {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    width: 100%;
    font-size: 15px;
    color: #777777;
}

.content-form input[name="message"] {
    padding-bottom: 100px;
}

.content-form .first-row input{
    width: 45%;
}

.first-row:after {
    content: "";
    clear: both;
}

.first-row input[name="email"] {
    float: right;
}

.content-form input:focus {
    outline: none;
}

.contact-form-row {
    margin-bottom: 20px;
}

.submit-row {
    text-align: center;
}

.content-form input[type="submit"] {
    background-color: #f48146;
    color: white;
    display: inline-block;
    width: auto;
    padding: 6px 20px;
    border-radius: 32px;
    font-size: 18px;
}

.content-form input[type="submit"]:hover {
    box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.30);
}

.footer .contact-info {
    box-sizing: border-box;
    height: 700px;
    padding-left: 100px;
}

.footer .contact-info h3 {
    margin-top: 110px;
    font-size: 45px;
    font-family: Roboto;
}

.footer .contact-info .line-contact-info {
    padding: 10px 0px;
}

.footer .contact-info h4 {
    color: #333333;
    font-size: 25px;
    font-family: Roboto;
}

.footer .contact-info p {
    font-size: 15px;
    max-width: 270px;
    font-family: Poppins;
}

.footer .contact-info p span{
    color: #f48146;
}

.footer .contact-info .social-icon i{
    width: 40px;
    height: 40px;
    background: #bbbbbb;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 21px;
    color: #FFFFFF;
    margin-right: 20px;
}

.footer .contact-info .social-icon .fa-linkedin:hover{
    background: #2faaf1;
}
.footer .contact-info .social-icon .fa-youtube:hover{
    background: #2faaf1;
}

.footer .contact-info .social-icon i:hover {
    background: #f48146;
}

/*
    Social css
 */

.social {
    width: 100%;
    height: 300px;
    position: fixed;
    top: 300px;
}

.social .row {
    position: relative;
    height: 300px;
    z-index: 1;
    width: 1519.2px;
    margin: 0 auto;
}

.social .row .social-content {
    width: 40px;
    position: absolute;
    right: 30px;
}

.social .row .social-content i{
    color: white;
    background: #000000;
    font-size: 25px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 30px;
}

.social .row .social-content i:hover {
    background: #f48146;
}

.social .row .social-content .fa-twitter {
    color: #82f4d3;
    background: white;
}

.social .row .social-content .fa-youtube {
    background: #2faaf1;
}